@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Regular'), url(./Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Bold'), url(./Roboto-Bold.ttf) format('truetype');
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

#pageContainer {
  margin: 0;
  display: grid;
  grid-template-columns:auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    'header'
    'body';
}

#headerContainer {
  grid-area: header;
}

#bodyContainer {
  grid-area: body;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    '. . .'
    '. center .'
    '. . .'; 
  }

.headerText {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  line-height: 75px;
  text-align: center;
}

#loginForm {
  grid-area: center;
  justify-self:center;
  width: var(--form-width);
  background: var(--form-color);
  display: grid;
  grid-template-columns: var(--form-column-width-left-right) 1fr var(--form-column-width-left-right);
  justify-items: center;
  padding-top: var(--form-top-bottom-padding);;
  padding-bottom: var(--form-top-bottom-padding);;
}

.formInputElement,
button[type=submit] {
  grid-column: 2/3;
  margin-top: var(--form-element-top-bottom-padding);
  margin-bottom: var(--form-element-top-bottom-padding);
  width: 100%;
}

button[type=submit] {
  justify-self: center;
  border-radius: 0px;
  border-color: none;
  border-width: 0px;
  border-style: solid;
  width: var(--submit-button-width);
  height: var(--submit-button-height);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: var(--submit-button-font-size);
  color: var(--submit-button-text-color);
  background-color: #81A9CF;
}

.formErrorMessageContainer {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-self: start;
  font-family: 'Roboto', sans-serif;
  font-size: var(--error-message-font-size);
  color: var(--error-message-text-color);
}


input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
  display: none;
}

:root {
  --form-width: 300px;
  --form-top-bottom-padding: 15px;
  --form-element-top-bottom-padding: 10px;
  --form-column-width-left-right: 25px;
  --form-color: #5171C3;
  --input-field-height: 30px;
  --input-field-text-color: #413D3D;
  --input-field-padding-top-bottom: 10px;
  --input-field-with-icon-padding-left: 0px;
  --input-field-with-icon-padding-right: 0px;
  --input-field-no-icon-padding-right: 20px;
  --submit-button-height: 40px;
  --submit-button-width: 120px;
  --submit-button-text-color: white;
  --submit-button-font-size: 16px;
  --error-message-text-color: #D8E5F1;
  --error-message-font-size: 12px;
}

#loginFormEmailInput,
#loginFormPasswordInput {
  height: var(--input-field-height);
  border-radius: 0px;
  border-color: none;
  border-width: 0px;
  border-style: solid;
  width: 100%;
  padding-top: var(--input-field-padding-top-bottom);
  padding-bottom: var(--input-field-padding-top-bottom);
  padding-left: var(--input-field-with-icon-padding-left);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--input-field-text-color);
}

#loginFormPasswordInput {
  padding-right: var(--input-field-with-icon-padding-right);
}

#loginFormEmailInput {
  padding-right: var(--input-field-no-icon-padding-right);
}

::placeholder {
  color: var(--input-field-text-color)d;
  opacity: 1;
}


#loginFormEmailInput:focus,
#loginFormPasswordInput:focus,
button[type=submit]:focus {
  outline: none;
}

button[type=submit]:hover {
  filter: brightness(85%);
}

form{
  margin-bottom:0px;
  /*You can refer to web developer tools (F12),
  and you'll see that a form element comes with
  a margin-bottom: 1em, as defined in the browser's
  default stylesheet.
  You can override that by defining your own margin
  rule: form { margin-bottom: 0; }*/
}